
/***************  templates/main/css/template.hotelsubpage.css  ***************/
#main-content .bookNow{
	background:url(http://www.serenahotels.com/templates/main/images/book-now.jpg) no-repeat;
	width:85px;
	height:20px;
	padding:2px 13px 3px;
	position:relative;
	top:10px;
	color:#fff;
}

div#alt-menu{
    bottom: -90px;
    clear: both;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 980px;
	zoom:1;
}
div#alt-menu.serenaelmenteita{
	left:0px;
}

div#alt-menu li.partnerHotel{
    display:none;
}