#Overlay {
    filter: alpha(opacity=80);
}

#Header #HeaderNavigation .navLink .navLinkArrow.toggle {
    filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067690849304, M12=0.7071067690849304, M21=-0.7071067690849304, M22=0.7071067690849304)";
}

#Header #HeaderNavigation .navLink.activeItem .navLinkArrow {
    filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=-0.7071067811865471, M12=-0.7071067811865479, M21=0.7071067811865479, M22=-0.7071067811865471)";
}

#SubNavPanelWrapper #ManagePanel form .checkBoxDiv label:after {
    filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483)";
}

#animateContainer .dynamicColumns .modGenericSections.modContainer .modText {
    top: 0;
}

#languagesList input[type="checkbox"] {
    display: inline-block !important;
}