/* Imports */
/* Brand Variables */
/* Images Variables */
/* LM Color Variables */
/* Brand Color Variables */
/* Brand Gradient Variables */
/* Brand Font Variables */
/* Brand IPT Variables */
/* Imports */
/*$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}*/
/* ANIMATION */
/* ANIMATION KEYFRAMES */
/* ASPECT RATION */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND IMAGE */
/* BACKGROUND RADIAL */
/* BACKGROUND RGBA COLOR */
/* OVERLAY BACKGROUND */
/* BORDER RADIUS */
/* BORDER RADIUS TOP LEFT */
/* BORDER RADIUS TOP RIGHT */
/* BORDER RADIUS BOTTOM LEFT */
/* BORDER RADIUS BOTTOM RIGHT */
/* BORDER-RADIUS WEBKIT-FIX */
/* HEADER, TITLES AND SUBTITLES */
/* NAVIGATION LINK ARROWS */
/* PAGE HEADER -- GIVES YOU PAGE HEADER STYLE BLOCK */
/* OPACITY */
/* ROTATE */
/* TRANSFORM PROPERTY */
/* TRANSITION */
/* TRANSITION ANIMATION */
/* VENDOR PREFIXING */
/************************************************************************
**                              IE FILTERS                             **
************************************************************************/
/* RGBA FILTER */
/* ROTATE FILTER */
/*$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}*/
/* ANIMATION */
/* ANIMATION KEYFRAMES */
/* ASPECT RATION */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND IMAGE */
/* BACKGROUND RADIAL */
/* BACKGROUND RGBA COLOR */
/* OVERLAY BACKGROUND */
/* BORDER RADIUS */
/* BORDER RADIUS TOP LEFT */
/* BORDER RADIUS TOP RIGHT */
/* BORDER RADIUS BOTTOM LEFT */
/* BORDER RADIUS BOTTOM RIGHT */
/* BORDER-RADIUS WEBKIT-FIX */
/* HEADER, TITLES AND SUBTITLES */
/* NAVIGATION LINK ARROWS */
/* PAGE HEADER -- GIVES YOU PAGE HEADER STYLE BLOCK */
/* OPACITY */
/* ROTATE */
/* TRANSFORM PROPERTY */
/* TRANSITION */
/* TRANSITION ANIMATION */
/* VENDOR PREFIXING */
/************************************************************************
**                              IE FILTERS                             **
************************************************************************/
/* RGBA FILTER */
/* ROTATE FILTER */
/* Directories */
/* Brand Directories */
/* Common Colors */
/* Imports */
/* Imports */
/*$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}*/
/* ANIMATION */
/* ANIMATION KEYFRAMES */
/* ASPECT RATION */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND IMAGE */
/* BACKGROUND RADIAL */
/* BACKGROUND RGBA COLOR */
/* OVERLAY BACKGROUND */
/* BORDER RADIUS */
/* BORDER RADIUS TOP LEFT */
/* BORDER RADIUS TOP RIGHT */
/* BORDER RADIUS BOTTOM LEFT */
/* BORDER RADIUS BOTTOM RIGHT */
/* BORDER-RADIUS WEBKIT-FIX */
/* HEADER, TITLES AND SUBTITLES */
/* NAVIGATION LINK ARROWS */
/* PAGE HEADER -- GIVES YOU PAGE HEADER STYLE BLOCK */
/* OPACITY */
/* ROTATE */
/* TRANSFORM PROPERTY */
/* TRANSITION */
/* TRANSITION ANIMATION */
/* VENDOR PREFIXING */
/************************************************************************
**                              IE FILTERS                             **
************************************************************************/
/* RGBA FILTER */
/* ROTATE FILTER */
/*$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}*/
/* ANIMATION */
/* ANIMATION KEYFRAMES */
/* ASPECT RATION */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND IMAGE */
/* BACKGROUND RADIAL */
/* BACKGROUND RGBA COLOR */
/* OVERLAY BACKGROUND */
/* BORDER RADIUS */
/* BORDER RADIUS TOP LEFT */
/* BORDER RADIUS TOP RIGHT */
/* BORDER RADIUS BOTTOM LEFT */
/* BORDER RADIUS BOTTOM RIGHT */
/* BORDER-RADIUS WEBKIT-FIX */
/* HEADER, TITLES AND SUBTITLES */
/* NAVIGATION LINK ARROWS */
/* PAGE HEADER -- GIVES YOU PAGE HEADER STYLE BLOCK */
/* OPACITY */
/* ROTATE */
/* TRANSFORM PROPERTY */
/* TRANSITION */
/* TRANSITION ANIMATION */
/* VENDOR PREFIXING */
/************************************************************************
**                              IE FILTERS                             **
************************************************************************/
/* RGBA FILTER */
/* ROTATE FILTER */
/* Directories */
/* Brand Directories */
/* Common Colors */
/* Imports */
/*$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}*/
/* ANIMATION */
/* ANIMATION KEYFRAMES */
/* ASPECT RATION */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND IMAGE */
/* BACKGROUND RADIAL */
/* BACKGROUND RGBA COLOR */
/* OVERLAY BACKGROUND */
/* BORDER RADIUS */
/* BORDER RADIUS TOP LEFT */
/* BORDER RADIUS TOP RIGHT */
/* BORDER RADIUS BOTTOM LEFT */
/* BORDER RADIUS BOTTOM RIGHT */
/* BORDER-RADIUS WEBKIT-FIX */
/* HEADER, TITLES AND SUBTITLES */
/* NAVIGATION LINK ARROWS */
/* PAGE HEADER -- GIVES YOU PAGE HEADER STYLE BLOCK */
/* OPACITY */
/* ROTATE */
/* TRANSFORM PROPERTY */
/* TRANSITION */
/* TRANSITION ANIMATION */
/* VENDOR PREFIXING */
/************************************************************************
**                              IE FILTERS                             **
************************************************************************/
/* RGBA FILTER */
/* ROTATE FILTER */
/* Imports */
/*$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}*/
/* ANIMATION */
/* ANIMATION KEYFRAMES */
/* ASPECT RATION */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND IMAGE */
/* BACKGROUND RADIAL */
/* BACKGROUND RGBA COLOR */
/* OVERLAY BACKGROUND */
/* BORDER RADIUS */
/* BORDER RADIUS TOP LEFT */
/* BORDER RADIUS TOP RIGHT */
/* BORDER RADIUS BOTTOM LEFT */
/* BORDER RADIUS BOTTOM RIGHT */
/* BORDER-RADIUS WEBKIT-FIX */
/* HEADER, TITLES AND SUBTITLES */
/* NAVIGATION LINK ARROWS */
/* PAGE HEADER -- GIVES YOU PAGE HEADER STYLE BLOCK */
/* OPACITY */
/* ROTATE */
/* TRANSFORM PROPERTY */
/* TRANSITION */
/* TRANSITION ANIMATION */
/* VENDOR PREFIXING */
/************************************************************************
**                              IE FILTERS                             **
************************************************************************/
/* RGBA FILTER */
/* ROTATE FILTER */
/*$pi: 3.14159265359;
$_precision: 10;

@function pow($base, $exp) {
  $value: $base;
  @if $exp > 1 {
    @for $i from 2 through $exp {
      $value: $value * $base;
    }
  }
  @if $exp < 1{
    @for $i from 0 through -$exp {
      $value: $value / $base;
    }
  }
  @return $value;
}

@function fact($num) {
  $fact: 1;
  @if $num > 0{
    @for $i from 1 through $num {
      $fact: $fact * $i;
    }
  }
  @return $fact;
}

@function _to_unitless_rad($angle) {
  @if unit($angle) == "deg" {
    $angle: $angle / 180deg * $pi;
  }
  @if unit($angle) == "rad" {
    $angle: $angle / 1rad;
  }
  @return $angle;
}

@function sin($angle){
  $a: _to_unitless_rad($angle);
  $sin: $a;
  @for $n from 1 through $_precision {
    $sin: $sin + (pow(-1, $n) / fact(2 * $n + 1) ) * pow($a, (2 * $n + 1));
  }
  @return $sin;
}

@function cos($angle){
  $a: _to_unitless_rad($angle);
  $cos: 1;
  @for $n from 1 through $_precision {
    $cos: $cos + ( pow(-1,$n) / fact(2*$n) ) * pow($a,2*$n);
  }
  @return $cos;
}

@function tan($angle){
  @return sin($angle) / cos($angle);
}*/
/* ANIMATION */
/* ANIMATION KEYFRAMES */
/* ASPECT RATION */
/* BACKGROUND GRADIENT */
/* BACKGROUND HORIZONTAL */
/* BACKGROUND IMAGE */
/* BACKGROUND RADIAL */
/* BACKGROUND RGBA COLOR */
/* OVERLAY BACKGROUND */
/* BORDER RADIUS */
/* BORDER RADIUS TOP LEFT */
/* BORDER RADIUS TOP RIGHT */
/* BORDER RADIUS BOTTOM LEFT */
/* BORDER RADIUS BOTTOM RIGHT */
/* BORDER-RADIUS WEBKIT-FIX */
/* HEADER, TITLES AND SUBTITLES */
/* NAVIGATION LINK ARROWS */
/* PAGE HEADER -- GIVES YOU PAGE HEADER STYLE BLOCK */
/* OPACITY */
/* ROTATE */
/* TRANSFORM PROPERTY */
/* TRANSITION */
/* TRANSITION ANIMATION */
/* VENDOR PREFIXING */
/************************************************************************
**                              IE FILTERS                             **
************************************************************************/
/* RGBA FILTER */
/* ROTATE FILTER */
/* Directories */
/* Brand Directories */
/* Common Colors */
.searchBox {
  margin-right: auto;
  margin-left: auto;
  padding-left: 44px;
  padding-right: 44px;
  height: 100px;
  width: 100%;
  float: left;
  position: absolute;
  z-index: 4;
  bottom: 45px;
}

.searchBox:before,
.searchBox:after {
  content: " ";
  display: table;
}

.searchBox:after {
  clear: both;
}

.searchBox .searchBackground {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3000000', endColorstr='#B3000000');
  background: rgba(0, 0, 0, 0.7);
  padding-left: 22px;
  padding-right: 22px;
  height: 100%;
  width: 916px;
  margin: 0 auto;
}

.searchBox .hpSearchForm {
  padding: 15px 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.searchBox .hpSearchForm .swui-field {
  white-space: nowrap;
}

.searchBox .locationContainer {
  width: 196px;
  margin: 0;
}

.searchBox .locationContainer .error-container {
  margin-top: 5px;
  z-index: 101;
}

.searchBox .locationContainer .error-container h6 {
  background-color: #000000;
  color: #54b2b0;
  padding: 5px;
  font: bold 14px/18px Arial, Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.searchBox .locationContainer .error-container .errors {
  background-color: #ffffff;
  color: #a7042a;
  padding: 20px;
  font: normal 16px Arial, Helvetica, Sans-Serif;
  margin: 0;
}

.searchBox .searchDropDown {
  border: 0;
  outline: 1px solid #000000;
  outline-offset: -1px;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  font-size: 14px;
  text-indent: 10px;
  line-height: 37px;
  outline: 1px solid #c5c6c6;
}

.searchBox .horizontalTitle {
  font: normal 13px Arial, Helvetica, Sans-Serif;
  text-transform: uppercase;
  margin-top: 4px;
  color: #000000;
}

.searchBox label {
  font: normal 13px Arial, Helvetica, Sans-Serif;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 3px;
}

.searchBox input[type="text"] {
  border: 1px solid #eeeceb;
  font-size: 12px;
}

.searchBox .swui-date-picker .swui-field {
  padding: 0 3%;
  width: 155px;
}

.searchBox .swui-date-picker .swui-calendar-icon {
  color: #000000;
}

.searchBox .swui-date-picker input[type="text"] {
  padding: 5px 0 2px 26px;
}

.searchBox .swui-month {
  padding-top: 0;
}

.searchBox .swui-month h5 {
  margin-top: 5px;
}

.searchBox .locationContainer, .searchBox .swui-date-picker,
.searchBox .swui-party-mix, .searchBox .bestRateButton,
.searchBox .actionButton, .searchBox .bestRateContainer {
  float: left;
  border: none;
}

.searchBox .bestRateButton {
  padding: 0.35em 0.25em 0.75em;
  margin-top: 7px;
}

.searchBox .bestRateButton #bestRate {
  margin-top: 11px;
}

.searchBox .bestRateButton #bestRate .brg-circle {
  position: absolute;
  color: #ffffff;
}

.searchBox .bestRateButton #bestRate .brg-check {
  position: absolute;
  margin: -4px 0 0px 4px;
  color: #54b2b0;
}

.searchBox .bestRateButton #bestRate .bestRateLink {
  font: 14px Arial,Helvetica,Sans-Serif;
  line-height: 15px;
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  color: #000000;
  width: 100px;
}

.searchBox .bestRateButton #bestRate .bestRateLink span:after {
  content: '>';
  padding: 2px;
}

.searchBox .bestRateButton .bestRateContainer {
  margin-left: 16px;
}

.searchBox .swui-field.swui-field-arrival,
.searchBox .swui-field.swui-field-departure {
  margin: 0;
  padding: 4px 2%;
  width: 120px;
}

.searchBox .swui-party-mix {
  z-index: 100;
  color: #000000;
}

.searchBox .swui-party-mix a.toggle.arrow.arrow-down {
  padding: 0px 10px 20px;
}

.searchBox .swui-party-mix a.toggle:before {
  width: 145px;
}

.searchBox .swui-party-mix.bottom {
  padding: 28px 2px 36px;
}

.searchBox .swui-party-mix.bottom a.toggle:before {
  bottom: 20px;
}

.searchBox .swui-party-mix a.toggle.arrow.arrow-down {
  box-shadow: none;
}

.searchBox .swui-party-mix .toggle-content {
  max-width: 106px;
  padding-top: 3px;
}

.searchBox .swui-party-mix .toggle-content .swui-label {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
}

.searchBox .swui-party-mix.bottom {
  margin: 20px 1px 0;
  padding: 7px 2px 24px;
}

.searchBox .swui-party-mix.bottom a.toggle:before {
  width: 144px;
}

.searchBox .swui-party-mix.bottom .swui-field-group {
  bottom: -145px;
}

.searchBox .swui-party-mix.bottom .swui-field-group label {
  color: #000000;
  text-transform: capitalize;
  line-height: 36px;
}

.searchBox .swui-party-mix.bottom .swui-field-group label:before {
  margin-right: 10px;
}

.searchBox .swui-party-mix.bottom .swui-field-group .swui-field-child label {
  line-height: 29px;
}

.searchBox .swui-party-mix.bottom .swui-field-group .swui-field-room, .searchBox .swui-party-mix.bottom .swui-field-group .swui-field-adult {
  margin-bottom: 4px;
}

.searchBox .swui-show {
  background: white;
}

.searchBox .actionButton button {
  padding: 0 20px;
  background: #54b2b0;
  color: #ffffff;
  font: GriffithGothicBold, Arial, Helvetica, Sans-Serif;
}

.geoSuggestIcons {
  width: 100%;
}

.geoSuggestIcons input[type="text"] {
  border-radius: 0;
}

.searchContainer .searchBox .swui-date-picker input[type="text"] {
  font-size: 12px;
}

.rateContainer {
  float: left;
  font-size: 16px;
  margin-top: 15px;
  color: #000000;
  margin-right: 25px;
}

.rateContainer .rateFrom {
  font-weight: bold;
}

.searchContainer {
  width: 100%;
  min-height: 1px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  padding-left: 0;
  padding-right: 0;
  margin: 22px 0;
}

.searchContainer .searchOverviewBackground {
  margin-left: -44px;
  margin-right: -44px;
}

.searchContainer .searchOverviewBackground:before,
.searchContainer .searchOverviewBackground:after {
  content: " ";
  display: table;
}

.searchContainer .searchOverviewBackground:after {
  clear: both;
}

.searchContainer .searchBox {
  float: none;
  padding: 0;
  position: relative;
  bottom: inherit;
  background-color: #eeeceb;
}

.searchContainer .searchBox label {
  text-transform: capitalize;
}

.searchContainer .searchBox .searchBackground {
  padding: 0;
  background: #eeeceb;
}

.searchContainer .searchBox .actionButton button {
  width: 144px;
}

.searchContainer .searchBox .swui-party-mix .toggle-content {
  color: #000000;
}

.searchContainer .searchBox .swui-party-mix.bottom a.toggle:after {
  border-color: #000000;
}

.searchContainer .searchBox .swui-date-picker {
  margin-left: 0;
}

.searchContainer .searchBox .swui-label {
  font-size: 14px;
  line-height: 16px;
}

/*# sourceMappingURL=overviewSearch.css.map */